.MainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderImage {
  width: 100%;
  z-index: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Seasons {
  flex-wrap: wrap;
  align-items: center;
}